<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882477402082-9qors4jsof5f9v06oh80npkkpsrd290q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882477402082-9qors4jsof5f9v06oh80npkkpsrd290q</string>
	<key>API_KEY</key>
	<string>AIzaSyA5hLC-2eCo0aoS_bH9k5Uk8_8tDlJMYNs</string>
	<key>GCM_SENDER_ID</key>
	<string>882477402082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication2</string>
	<key>PROJECT_ID</key>
	<string>lab4-63eb3</string>
	<key>STORAGE_BUCKET</key>
	<string>lab4-63eb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882477402082:ios:50e1aa70b97c938a4e1bbb</string>
</dict>
</plist>